<h2><%=@user.data["username"]%></h2>
<h3>People Stalking You In Your Recent Instagrams</h3>
<ul class="people">
<% @likes_me.slice(0,19).each do |user| %>
  <li><%= image_tag user["user"]["profile_picture"]%>
  <a class="name" href="http://instagram.com/<%= user["user"]["username"]%>"><%= user["user"]["username"]%></a> Liked you <span class="count"><%=user["count"]%></span> time<%="s" if user["count"] > 1%>
  <%= link_to "View Uberflirt Profile", user_path(user["user"]["username"]) if @profiles.find {|u| u.instagram_id == user["user"]["id"].to_i}%></li>
<% end %>
</ul>
<div class="i_like">
<h3>People You're Stalking In Your Recent Likes</h3>
<ul class="people">
<% @i_like.slice(0,19).each do |user| %>
  <li><%= image_tag user["user"]["profile_picture"]%>
  <a class="name" href="http://instagram.com/<%= user["user"]["username"]%>"><%= user["user"]["username"]%></a> You Liked Them <span class="count"><%=user["count"]%></span> time<%="s" if user["count"] > 1%>
  <%= link_to "View Uberflirt Profile", user_path(user["user"]["username"]) if @profiles.find {|u| u.instagram_id == user["user"]["id"].to_i}%></li>
<% end %>
</div>